// VARIABLES

$fontTitle: 'Playfair Display', serif;
$fontsBody: 'Raleway', sans-serif;


$colorAccent: #D4C17F;
$colorWhite: #ffffff;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$ss: 360px;
